* {
    margin: 0;
    padding: 0;
}

.nav-a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 137);
}

.img-responsive {
    height: auto;
    width: auto;
    align-items: center;
    max-height: 43px;
    max-width: 250px;
    padding-right: 108px;
    padding-left: 45px;
}

li {
    float: left;
}

li .nav-b:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}


li .nav-b {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-b {
    position: relative;
}

.nav-b::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: orange;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-b:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(26, 26, 99);
    overflow-x: hidden;
    margin-top: 50px;
    padding-top: 40px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.main {
    margin-left: 150px;
    padding: 20px 82px;
}

.main-a {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 180px;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 10px 10px rgb(203, 193, 193);
    border: 1px solid black;
}